:root {
    --greywhite-color: rgba(201, 195, 255, 0.842);
    --violet-color: rgba(255, 255, 255, 0.712);
    --darkviolet-color: rgb(148, 164, 255);
    --purple-color: rgba(106, 92, 133, 0.555);
    --darkpurple-color: rgb(23, 0, 71);

}


h1 {
    font-size: 50pt;
    padding-left: 0%;
    margin-left: 60%;
    margin-right: 5%;
    margin-bottom: 20px;;
}


.header {
    background-color: var(--purple-color);
    text-align: center;
    
}
header {
    background-color: var(--greywhite-color);
    padding-top: 20px;
    
    
}

.a {
    padding-bottom: 40%;
}

ul {
    list-style-type: none;
    padding-bottom: 50px;;

   
}

.li-first {
    padding-top: 100px;
    text-align: center;
}

.li-first-t {
    color: var(--darkpurple-color);
    padding-top: 100px;
    text-align: center;
}
.li-second-t,
.li-third-t,
.li-fourth-t {
    color: var(--darkpurple-color);
}
.li-first-t:hover,
.li-second-t:hover,
.li-third-t:hover,
.li-fourth-t:hover,
.li-first-t:focus,
.li-second-t:focus,
.li-third-t:focus,
.li-fourth-t:focus {
    color: var(--darkviolet-color);
}
.li-second {
    text-align: center;
    padding-right: 130px;
}

.li-third {
    text-align: center;
    padding-right: 230px;
}

.li-fourth {
    text-align: center;
    padding-left: 230px;
}
