:root {
    --greywhite-color: rgba(201, 195, 255, 0.842);
    --violet-color: rgba(255, 255, 255, 0.712);
    --darkviolet-color: rgb(40, 72, 255);
    --purple-color: rgba(106, 92, 133, 0.555);
    --lightpurple-color: rgba(194, 164, 255, 0.466);
    --darkpurple-color: rgb(46, 0, 146);

}


h1 {
    font-size: 50pt;
    padding-left: 0%;
    margin-left: 60%;
    margin-right: 5%;
    margin-bottom: 20px;
}


.header {
    background-color: var(--purple-color);
    text-align: center;
    
}
header {
    background-color: var(--greywhite-color);
    padding-top: 20px;
    
    
}

.a {
    padding-bottom: 40%;
}

ul {
    list-style-type: none;
    
    padding-bottom: 50px;;
    

   
}

.li-first {
    padding-top: 100px;
    text-align: center;
    
}
.li-first-t {
    color: var(--darkpurple-color);
    padding-top: 100px;
    text-align: center;
    font-size: 15pt;
    
}
.li-second-t,
.li-third-t,
.li-fourth-t {
    color: var(--darkpurple-color);
    font-size: 15pt;
}
.li-first-t:hover,
.li-second-t:hover,
.li-third-t:hover,
.li-fourth-t:hover,
.li-first-t:focus,
.li-second-t:focus,
.li-third-t:focus,
.li-fourth-t:focus {
    color: var(--darkviolet-color);
    font-size: 20pt;
}
.li-second {
    text-align: center;
    padding-right: 130px;
}

.li-third {
    text-align: center;
    padding-right: 230px;
}

.li-fourth {
    text-align: center;
    padding-left: 230px;
}

.body {
    background-color: var(--lightpurple-color);  
    font-family: 'Nunito', sans-serif;
}

.img-food {
    padding-left: 610px;
}
.img-food-c {
    padding-left: 570px;
    
    position:relative;
}
.img-food-p {
    padding-left: 570px;
    
    position:relative;
}

.li-w-s {
    list-style-position: inside;
    padding: 0;
    font-size: 18pt;
}
.li-w-s-c {
    list-style-position: inside;
    padding: 0;
    font-size: 18pt;
    padding-bottom: 20px;
    
    padding-left: 200px;
    padding-right: 200px;
}

.ol-w-s {
    word-break: break-all;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

